.cha{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-between; /* Căn cách đều giữa các phần tử */
    width: 600px;
    height: 100px;
    padding: 5px;
    border: 2px solid black;
    align-content: space-around;
}
.con{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 23%;
   padding: 3px;
   border-radius: 5px;
    
}
.c{
    width: 48.4%;
}